@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-very-pale-pink;
    @apply text-very-dark-pink;
  }
}

@font-face {
  font-family: "SILKSCREEN";
  src: url("../fonts/Silkscreen-Regular.ttf");
}
